.ant-btn-link {
    font-weight: var(--fw-l);
    color: var(--ant-primary-6);
    text-decoration: inherit;
} 

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--ant-primary-6)
}
