.sider {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.sider :global .ant-menu-item-divider {
    display: flex;
    flex: 1 1 auto;
    border-width: 0 0 2px;
}

.sider :global .ant-menu-item:not(:last-child) {
    margin: 0;
    margin-bottom: calc(4.5 * var(--margin-space));
    padding-left: calc(4 * var(--padding-space));
}

.sider :global .ant-menu-item-divider ~ .ant-menu-item .ant-menu-title-content {
    margin-left: calc(4 * var(--margin-space));
}

.sider :global .ant-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.sider :global .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}

.sider :global .ant-menu-item-icon {
    color: var(--ant-primary-9);
}

.sider :global .ant-menu-vertical {
    border-right: none;
}

.logo {
    margin: 45px 0 66px;
    padding-left: calc(7 * var(--padding-space));
    transition: width 0.3s, padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.collapsed {
    left: 0;
    margin: 51px 0 65px;
    padding: 0 calc(50% - 32px / 2);
    text-overflow: clip;
}

@media (max-width: 480px) {
    .logo {
        margin: calc(3 * var(--margin-space)) 0 calc(8 * var(--margin-space));
        padding-left: var(--spacing);
    }

    .sider :global .anticon {
        display: none;
    }
    .sider :global .anticon + span {
        margin: 0;
    }

    .sider :global .ant-menu-item:not(:last-child) {
        margin-bottom: calc(2.5 * var(--margin-space));
        padding-left: calc(2 * var(--padding-space));
    }

    .sider :global .ant-menu-item .anticon + span {
        margin-left: 0;
    }

    .menu :global .ant-menu-item {
        padding-left: 8px;
    }
}
