:root {
    --paddingRight: calc(3 * var(--padding-space));
    --padding: calc(4 * var(--padding-space))
}

.overlay {
    width: 264px;
    z-index: 0;
}

.overlay :global .ant-popover-inner-content {
    width: 100%;
    padding: 0 var(--paddingRight) var(--padding);
}

.overlay :global .ant-popover-title {
    border: none;
    padding: var(--padding) var(--paddingRight) 0;
}

.modal_training {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

:global .ant-btn-primary[disabled] > span {
    cursor: not-allowed;
}

@media (max-width: 480px) {
    .modal_training {
        position: relative;
        display: flex;
        justify-content: center;
        top: 40px;
        z-index: 0;
    }

    .overlay {
        width: 100vh;
    }

    .overlay :global .ant-popover-inner-content {
        min-width: 316px;
        width: 100%;
        margin: 0 auto;
    }

    :global .ant-popover-placement-bottom {
        padding: 0 calc(5 * var(--padding-space));
    }
}
