:root {
    --fontSize: calc(0.8 * var(--fs-base));
}

.ant-form-item {
    margin-bottom: calc(8 * var(--margin-space));
}

.ant-form-item-explain {
    font-size: var(--fs-sm);
    text-align: left;
}

.ant-input-affix-wrapper-focused,
.ant-input:focus,
.ant-input:hover,
.ant-input-affix-wrapper-status-success,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: var(--ant-primary-6);
}

.ant-input-affix-wrapper-status-success > .ant-input-suffix > .anticon-eye.anticon {
    color: var(--ant-primary-6);
}

.ant-input-group-wrapper-status-success {
    background-color: var(--ant-form-background);
}

.ant-form-item-control-input-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless) .ant-input {
    border-left-color: #d9d9d9;
}

.input .ant-input-group-addon {
    padding: 0 15px;
}

label {
    & span {
        font-size: 15px;
    }

    & ~ a {
        font-size: 17px;
    }
}

@media (max-width: 360px) {
    .ant-form-item-explain {
        margin-bottom: calc(2 * var(--margin-space));
    }
    .ant-checkbox > span {
        font-size: var(--fontSize);
    }
    .ant-form-item-control-input-content button {
        padding: 7px;
        font-size: var(--fontSize);
    }
    label {
        & span {
            font-size: var(--fontSize);
        }
    }
}
