.page_layout {
    background: no-repeat center/cover url('../blure.jpg');
    background-attachment: fixed;
    min-height: 100vh;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    width: 100%;
    padding: 0 16px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(4px);
    background: var(--mask-modal-bg);
}

.form_layout {
    max-width: 539px;
    width: 100%;
    height: 100%;
    border-radius: calc(0.5 * var(--border-radius));
    background-color: var(--ant-form-background);
}

.form_layout :global .ant-space-item {
    width: 100%;
}

@media (max-width: 835px) {
    .form_layout {
        transform: translateY(-25px);
    }
}

@media (max-width: 574px) {
    .form_layout {
        padding: 32px 16px !important;
        max-height: 607px;
        min-height: 317px;
        transform: translateY(-3px);
    }
}
