.empty_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.empty_modal :global .ant-card-meta-detail .ant-card-meta-title {
    font-size: var(--fs-title);
    font-weight: var(--fw-m);
    color: var(--ant-primary-9);
    margin-bottom: calc(10 * var(--margin-space));
    white-space: pre-line;
}

.empty_modal :global .ant-space-item {
    width: 100%;
}
.empty_modal :global .ant-card-meta-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty_modal :global .ant-card-meta-description {
    display: inline-block;
    max-width: 520px;
    width: 100%;
    color: var(--ant-text);
    line-height: var(--line-height);
}

.empty_modal :global .ant-card-meta {
    min-height: 164px;
    width: 100%;
}

@media (max-width: 360px) {
    .empty_modal {
        justify-content: start;
        gap: calc(4.4 * var(--gap));
    }

    .empty_modal :global .ant-card {
        height: 317px;
    }

    .empty_modal :global .ant-card-body {
        padding: 49px 21px 45px 22px !important;
    }

    .empty_modal :global .ant-card-body {
        align-items: flex-start;
    }
}
