:root {
    --padding: var(--pd-24);
    --borderRadius: calc(2 * var(--border-radius));
}

.drawer {
    padding: var(--padding);
    z-index: 1;
}

.drawer :global .ant-drawer-header {
    border: none;
    padding: var(--padding);
    padding-bottom: 0;
}

.drawer :global .ant-radio-group {
    width: 100%;
}

.drawer_button :global .ant-btn.ant-btn-block {
    width: 50%;
}

.drawer_form :global .ant-form-item {
    margin-bottom: 0;
}

.drawer_form :global .ant-tag {
    width: 100%;
    height: 24px;
    margin-right: 0;
    background: var(--ant-default);
}

.drawer_title {
    color: var(--ant-primary-10); 
    line-height: 50px; 
    text-align: center
}

.tag_pro {
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (max-width: 480px) {
    .drawer {
        --padding: var(--pd-16);
        top: 110px;
    }
}
